body {
    margin: 0;
    padding: 0;
}

/* header */

.header-container {
    width: 64%;
    height: 80px;
    margin-left: 18%;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo {
    font-size: 30px;
    color: white;
    margin-top: 25px;
}

header h1 {
    margin: 0;
    padding-top: 20px;
    margin-left: 2px;
}

.logo-text {
    padding-left: 5px;
    color: white;
    font-size: 26px;
}

.header-links-container {
    padding-top: 16px;   
    width: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    list-style: none;
}

li :hover {
    text-decoration: underline;
}

.header-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header-button {
    margin-top: 28px;
    text-align: center;
}

.login-button-background {
    background: white;
    border-radius: 50px;
    width: 50px;
    padding: 7px 0px 8px 0px;
}

.login-button {
    text-decoration: none;
    color: black;
    font-size: 15px;
    width: 50px;
}

/* /header */

/* first section */
.first-section {
    background-image: url( "./images/Screenshot\ from\ 2022-08-09\ 21-37-38.png" );
    width: 100%;
    background-repeat: no-repeat;
    height: 616px;
}
/* /first section */